html, body {
   background-color: transparent;
   color: white;
   font-family: "Helvetica", sans-serif;
   margin: 0px 10px;
   text-shadow: 0px 1px 0px rgba(0,0,0,0.6);
}

body.small {
   font-size: 0.8em;
}

a, a:visited {
   color: #aaf;
}

div.parts {
   margin-bottom: 20px;
}
