html, body {
   background-color: white;
   color: black;
   font-family: "Helvetica", sans-serif;
   margin: 0px 10px;
}

body.small {
   font-size: 0.8em;
}

a, a:visited {
   color: #aaf;
}

div.parts {
   margin-bottom: 20px;
}
