build
iFixit.xcodeproj/dmpatierno.mode1v3
iFixit.xcodeproj/dmpatierno.pbxuser
iFixit.xcodeproj/project.xcworkspace
iFixit.xcodeproj/xcuserdata
iFixit-App-Id.plist
.svn
*.bak
.DS_Store
Reveal.framework/
Pods
Pods/
assets
